.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.login_button{
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.toast {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

@keyframes alertbox {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.alert-box{
  display: flex;
  border-radius: 6px;
  width: 20vw;
  height: 10vh;
  background: linear-gradient(to bottom, #f46e6e 0%,#ff4242 100%);
  align-items: center;
  justify-content: center;
  animation-name: alertbox;
  animation-duration: 0.5s;
}

.Toastify__close-button{
  background-color: transparent;
  border: 0;
  margin-left: -2vw;
  animation-name: alertbox ;
  animation-duration: 0.5s;
}

.popup-content {
  border-radius: 5px 20px 5px 20px;
  border: 3px solid rgba(0,0,0,0.24)!important;
}

.stat-value{
  font-weight: bold;
  color: #a40017;

}